/* 
/// The place to be for all the main style rules... ///
*/

*, *:before, *:after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    color: $secondaryColor;
    text-align: center;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    li:not(:last-of-type) {
        margin-right: 10px;
    }
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.main-header, .main-footer {
    background: lightgray;
}